[Desktop Entry]
Name=Skype
Exec=skypeforlinux
Icon=/usr/share/icons/custom/skype.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
