[Desktop Entry]
Name=Skype
Exec=env PULSE_LATENCY_MSEC=60 skype %U
Icon=/usr/share/icons/custom/skype.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
